name: Run static checks and unit tests

# Any change in triggers needs to be reflected in the concurrency group.
on:
  push:
    branches:
      - main
      - v*
  pull_request:
    branches:
    - main
    - v*

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.event.after }}
  cancel-in-progress: true

jobs:
  unit-test:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: 'go.mod'
    - name: Check module vendoring
      run: |
        go mod tidy
        go mod vendor
        go mod verify
        git status
        test -z "$(git status --porcelain)" || (echo "please run 'go mod tidy && go mod vendor', and submit your changes"; exit 1)
    - name: Run unit tests
      run: make test
    - name: Build
      run: make
    - name: Build release binaries
      run: make release
